In [1]:
import platform
x = platform.system()
print(x)

Linux

In [ ]:
year = int(input("Enter a year="))

if (year % 4) == 0:
     if (year % 100) == 0:
         if (year % 400) == 0:
             print("{0} is a leap year".format(year))
         else:
             print("{0} is not a leap year).format(year))
      else:
        print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

SyntaxError: ignored

In [ ]:
year = int(input("Enter a year: "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

Enter a year: 2016
2016 is a leap year

In [ ]:
a = int(input("ENTER THE NUMBER:"))
for i in range(2,a):
if i%2==0:
print( " THE NUMBER IS COMPOSITE NUMBER.")
else:
print("THE NUMBER IS PRIME NUMBER")

IndentationError: ignored

In [ ]:
a = int(input("Enter the radius:"))
area = 3.14*a*a
print("The area of circle is : ", area)

Enter the radius:7
The area of circle is :  153.86

In [ ]:
a = float(input("Enter the radius : "))
area = 3.14*a*a
print("The area of circle is:",area)

Enter the radius : 7.6
The area of circle is: 181.3664

In [ ]:
def __init__(Self,nmae,age):
  Self.name = name
  Self.age = age
def myfunc(Self):
   print("Hello,my name is"+Self.name)
   p1 = person("John",36)
   p1.myfunc()

In [ ]:
class myclass:
    x = 5
p1 = myclass()
print(p1.x)

5

In [ ]:
x = min(5,10,25)
y = max(5,10,25)
print(x)
print(y)

5
25

In [ ]:
person1 = {
    "name": "Sunny",
    "age" : 23,
    "Country: "India"
}
import mymodule
a = mymodule.person1["age"]
print(a)

SyntaxError: ignored

In [ ]:
person1 = {
    "name": " Sunny ",
    "age" : 23,
    "Country: "x"
}
from mymodule import person1
print(person1["age"])

SyntaxError: ignored

In [ ]:
person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}
import mymodule

a = mymodule.person1["age"]
print(a)

ModuleNotFoundError: ignored

In [ ]:
import platform

X = platform.system()

print(X)

Linux

In [ ]:
def myfunc(n):
    return lambda a : a*n
mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler(11))
print(mytripler(22))

22
66

In [ ]:
x = lambda a,b,c : a+b+c
print(x (5,6,2))

13

In [ ]:
cars = ["BMW","HONDA CITY","JAGUAR"]
cars.append("CIAZ")

print(cars)

['BMW', 'HONDA CITY', 'JAGUAR', 'CIAZ']

In [ ]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter a number:"))
mul = num1*num2
print("The product of two given numbers are as follows:",mul)

Enter a number:34
Enter a number:34
The product of two given numbers are as follows: 1156

In [ ]:
thislist =[1,3,6,7,89,90,100,101,1234]
thislist.sort()
print(thislist)

In [ ]:
num = [1,3,2,4,5]
num.sort()
print(num)

[1, 2, 3, 4, 5]

In [ ]:
for i in range(5):
  print("

In [ ]:
a = [1,4,7,8,3,5,6,9,2]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = ["Arijit","Sam","Bardock","Goku","Vegeta","Gohan","Freeza","Cell"]
a.sort()
print(a)

['Arijit', 'Bardock', 'Cell', 'Freeza', 'Gohan', 'Goku', 'Sam', 'Vegeta']

In [ ]:
a = [1,2,3,4]
b = [4,6,7,8]
a.append(b)
print(a)

[1, 2, 3, 4, [4, 6, 7, 8]]

In [ ]:
list = [1,2,3,1,4,1,2,5,1,2,3,1]
print("Number of occurrence of given number is",list.count(1))

Number of occurrence of given number is 5

In [ ]:
word = input("Give A word to reverse:")
 for char in range(len(word)-1,-1,-1):
   print(word[char],end="")

IndentationError: ignored

In [ ]:
word = input("Give A Word to Reverse: ")
 for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")

IndentationError: ignored

In [ ]:
list = [1,2,3,1,4,1,2,5,1,2,3,1]
print("Number Of occurrence of given number is",list.count(1))

Number Of occurrence of given number is 5

In [ ]:
from math import pi
r = float(input("Enter the Radius of circle: "))
print("The area of circle is" + str(r) + " is: " + str(pi * r**2))

Enter the Radius of circle: 4.20
The area of circle is4.2 is: 55.41769440932395

In [ ]:
list=[1,2,3,4,5,6,7,8,9,-99999]
print("Even numbers are")
for x in list:
     if not x%2:
       print(x,end='')

Even numbers are
2468

In [ ]:
from math import pi
r = float(input ("Enter the Radius of circle: "))
print ("The area of the circle is" + str(r) + " is: " + str(pi * r**2))

Enter the Radius of circle: 5
The area of the circle is5.0 is: 78.53981633974483

In [ ]:
n = int(input('Enter the number:'))
if n<0:
  print("Given number is negative")
elif n==2:
    print(n,"is prime")
else:
  for i in range(2,n):
      if (n%i)==0:
        print(n,"is not prime")
        break
  else:
     print(n,"is prime number")

Enter the number:-8
Given number is negative

In [ ]:
num = 2
for i in range(1, 21):
    print(num,'x',i,'=',num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40

In [ ]:
num = 2
for i in range(1,21):
  print(num,'x',i,'=',num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40

In [ ]:
num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
a = input("Enter any name:")
print(a.lower())

Enter any name:shreyansh patil
shreyansh patil

In [ ]:
year = int(input("Enter a year:"))
if (year%4) == 0:
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter a year:2000
2000 is a leap year

In [ ]:
num = int(input("Enter the number:"))
if (num%2) == 0:
  print("{0} is even".format(num))
else:
  print("{0} is odd".format(num))

Enter the number:2
2 is even

In [ ]:
num = int(input("Enter the number:"))
if (num%2) == 0:
  print("{0} is even".format(num))
else:
  print("{0} is odd".format(num))

Enter the number:5
5 is odd

In [ ]:
num = float(input("Enter a element:"))
if num > 0:
  print("Positive Number:")
elif num == 0:
  print("Zero")
else:
  print("Negative Number :")

Enter a element:3
Positive Number:

In [ ]:
celsius = 37.5

fahrenheit = (celsius * 1.8) + 32

print('%0.1f degree celsius is equal to %0.1f degree fahrenheit' %(celsius,fahrenheit))

37.5 degree celsius is equal to 99.5 degree fahrenheit
37.5 degree celsius is equal to 99.5 degree fahrenheit

In [ ]:
kilometers = float(input('Enter the first value:'))

conv_fac = 0.621371

miles = kilometers * conv_fac
print('%0.2f kiometers is equal to %0.2f miles'%(kilometers,miles))

Enter the first value:3.50
3.50 kiometers is equal to 2.17 miles

In [ ]:
import random
print(random.randint(0,9))

0

In [ ]:
x = int(input('Enter element:'))
y = int(input('Enter element:'))

temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter element:15
Enter element:34
The value of x after swapping: 34
The value of y after swapping: 15

In [ ]:
import cmath

a = int(input('Enter the first element :'))
b = int(input('Enter the second element :'))
c = int(input('Enter the third element :'))

d = (b**2) - (4*a*c)

sol1 = (-b-cmath.sqrt(d)/(2*a))
sol2 = (-b+cmath.sqrt(d)/(2*a))

print('The solution are {0} and {1}'.format(sol1,sol2))

Enter the first element :1
Enter the second element :5
Enter the third element :7
The solution are (-5-0.8660254037844386j) and (-5+0.8660254037844386j)

In [ ]:
a = int(input('Enter the first element:'))
b = int(input('Enter the second element:'))
c = int(input('Enter the third element:'))

s = (a + b + c) / 2

area = (s*(s-a)*(s-b)*(s-c))** 0.5

print('The area of the triangle is %0.2f'%area)

The area of the triangle is 14.70

In [ ]:
num = int(input('Enter the number:'))
num_sqrt = num** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

Enter the number:8
The square root of 8.000 is 2.828

In [ ]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [ ]:
set([1,2,3])

{1, 2, 3}

In [ ]:
dict = {1:'value','key':2}
print(type(dict))

<class 'dict'>
<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(a))
print("d[1]",d[1])
print("d['key]",d['key'])

<class 'set'>
d[1] value
d['key] 2

In [ ]:
a = {1,2,2,2,3,3,3,3,3}
print(a)
print(type(a))
print("a=",a)

{1, 2, 3}
<class 'set'>
a= {1, 2, 3}

In [ ]:
a = {1,2,3,4,5,6,7,8,9}

print("a=",a)
print(type(a))

a= {1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [ ]:
s = "Hello,world"

print("s[4]=",s[4])

print("s[6:11]=",s[6:11])

s[4]= o
s[6:11]= world

In [ ]:
a = 5
print(a,"is of type",type(a))

a = 2.0
print(a,"is of type",type(a))

a = 1+2j
print(a,"is of type",type(a))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

In [ ]:
num1 = 1.5
num2 = 6.3
sum = num1 + num2
print("the sum of {0} and {1} is {2}".format(num1,num2,sum))

the sum of 1.5 and 6.3 is 7.8

In [ ]:
num1 = input("Enter the first number:")
num2 = input("Enter the second number:")
sum = float(num1) + float(num2)
print("The sum of {0} and {1} is {2}".format(num1,num2,sum))

Enter the first number:34
Enter the second number:72
The sum of 34 and 72 is 106.0

In [ ]:
num1 = input("Enter the first number:")
num2 = input("Enter the second number:")
sum = int(num1) + int(num2)
print("The sum of {0} and {1} is {2}".format(num1,num2,sum))

Enter the first number:34
Enter the second number:72
The sum of 34 and 72 is 106

In [ ]:
def get_squared_numbers(numbers):
    squared_numbers = []
    for n in numbers:
         squared_numbers.append(n*n)
    return squared_numbers
numbers = [2,3,4,5]
get_squared_numbers(numbers)

[4, 9, 16, 25]

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    print(a+b)
    print(a-b)
    print(a*b)

5
9
14
-4
45

In [ ]:
def _init_(numbers):
    squared_numbers = []
    for n in numbers:
         squared_numbers.append(n*n)
    return squared_numbers
numbers = [2,3,4,5]
_init_(numbers)

[4, 9, 16, 25]

In [ ]:
a = 2
b = 4
maximum = max(a,b)
print(maximum)

4

In [ ]:
a = []
n = int(input("Enter number of elements:"))
for i in range(1,n+1):
  b = int(input("Enter element:"))
  a.append(b)
  a.sort()
  print("Second largest element is:",a[n-2])

Enter number of elements:2
Enter element12
Second largest element is: 12
Enter element10
Second largest element is: 10

In [ ]:
a = [98,52,23,41,32]
a.sort()
smallest = a[0]
print("Smallest number is :",smallest)

Smallest number is : 23

In [ ]:
a = [98,52,23,41,32]
a.sort()
smallest = a[0]
print("Smallest number is :",smallest)

Smallest number is : 23

In [ ]:
num = int(input("Enter a number:"))
if (num%2)==0:
  print("{0} is an even number".format(num))
else:
   print("{0} is an odd number".format(num))

Enter a number:35
35 is an odd number

In [ ]:
i = 1
while i<6:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
num = [1,2,3,4,5]
for x in num:
   print(x)

1
2
3
4
5

In [ ]:
n = int(input())
if n%2==0:
  if n in range(2,6):
    print("not weird")
  elif n in range(6,21):
    print("weird")
  elif n>20:
     print("not weird")
else:
  print("weird")

8
weird

In [ ]:

a = "My name is Shreyansh Patil"
print(a).

My name is Shreyansh Patil

In [ ]:
a = [1,2,3]

try:
  print('in try')
  b = a[1]/6
except Zerodivisionerror:
  print('don\'t dividde by 0')

in try

In [ ]:
class Xyz:
  def __init__(self):
    self.a = 'A'
    self.b(self.a)
  def b(self, value):
    value = 'B'
o = Xyz()
print(o.b)

<bound method Xyz.b of <__main__.Xyz object at 0x7ff037f37e90>>

In [ ]:
num = int(input("Enter a number"))
if num>1:    #program on prime number
   for i in range(2,num):
     if (num%i)==0:
      print(num,"is not a prime number")
      print(i,"time",num//i,"is",num)
      break
   else:
     print(num,"is a prime number")
else:
  print(num,"is not a prime number")

Enter a number5
5 is a prime number

In [ ]:
x = int(input())
y = int(input())
temp = x
x = y
y = temp
print('the value of x after swapping:{}'.format(x))
print('the value of y after swapping:{}'.format(y))

12
15
the value of x after swapping:15
the value of y after swapping:12

In [ ]:
a = int(input())
b = int(input())
print("{0}\n{1}".format(a//b, a/b))

4
3
1
1.3333333333333333

In [ ]:
 a = int(input())
b = int(input())

print('{0} \n{1} \n{2}'.format((a + b), (a - b), (a * b)))

3
5
8
-2
15

In [ ]:

n=int(input("Enter the number of elements to be inserted: "))
a=[]
for i in range(0,n):
    elem=int(input("Enter element: "))
    a.append(elem)
avg=sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter the number of elements to be inserted: 3
Enter element: 21
Enter element: 22
Enter element: 23
Average of elements in the list 22.0

In [ ]:

num1 = int(input())
num2 = int(input())
if(num1 > num2 ):   # Use If condition to find the greatest number among these two.
    max= num1
else:
    max= num2
while(True):
    if(max % num1 == 0 and max % num2 == 0):
        print(max)
        break;
    max= max+ 1

30

In [ ]:
a = 200
b = 200
c = -2
d = -2
print(a is b)
print(c is d)

True
True

In [ ]:
 n = int(input().strip())
check = {True: "Not Weird", False: "Weird"}

print(check[
        n%2==0 and (
            n in range(2,6) or
            n > 20)
    ])

3
Weird

In [ ]:

num = int(input("Enter a number: "))

if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")

else:
   print(num,"is not a prime number")

Enter a number: 2
2 is a prime number

In [ ]:

x = 5
y = 10

x, y = y, x
print("x =", x)
print("y =", y)

x = 10
y = 5

In [ ]:
 if n in range (6, 21) or n % 2 != 0:
        print("Weird")

Weird

In [ ]:
 n = int(input())
if n % 2 == 0:
    if n in range(2,6):
        print("Not Weird")

    elif n in range(6,21):
        print("Weird")

    elif n > 20:
        print("Not Weird")

3

In [ ]:
 n = int(input())
if n % 2 == 0:
  if n in range(2,6):
    print("Not weird")

  elif n in range(6,21):
    print("weird")

  elif n > 20:
    print("Not weird")

 else:
      print("weird")

3
weird

In [ ]:
print("Hello,World!")

Hello,World!

In [ ]:
 for i in range (50, 80):
  if i % 2 == 0:
    print(i)
  else:
    break

50

 set = [1,100]

In [ ]:
def myfunc():
 x ="awesome "
 print("Python is " +x)
myfunc()

Python is awesome

In [ ]:
a = 12
b = 14

if b>a:
 print("b is greater than a")

else

In [ ]:
 def myFunction() :
  return False

print(myFunction())

False

In [ ]:


 A = n1
 B = n2
 C = A + B
 def myfunc():
  print("addition of "A + B)
x = [1,10]

myfunc()

SyntaxError: ignored

In [ ]:

n=int(input())
m=0
mxPos=0
v=[0]*n
x=int(input())
for i in range(n):
    v[i]=int(input())

for i in range(n):
    v[i]=(v[i]-1)//print(mxPos+1)

4
3
7 8 9 3

ValueError: ignored