In [ ]:
class e:
  def one(self):
    a=int(input())
    c=a*a
    print(c)


aa=e()
aa.one()

45
2025

In [ ]:
def one():
  a=int(input())
  b=int(input())
  c=a+b
  print(c)
one()

12
21
33

In [ ]:
nums=[3,6,8,12,14,15]
sq=[]
for num in nums:
  sq.append(num*num)

print(sq)

#using list comprehension
print([num*num for num in nums])
print([num*num for num in nums if num%2==0])
print([num*num for num in nums if num%2==0 if num%3==0])
print([num*num if num%2==0 else num*num*num for num in nums])

[9, 36, 64, 144, 196, 225]
[9, 36, 64, 144, 196, 225]
[36, 64, 144, 196]
[36, 144]
[27, 36, 64, 144, 196, 3375]

In [ ]:
lst = []
for i in range(3,6):
  for j in range(5,7):
    lst.append(i*j)
print(lst)

print([i*j for i in range(3,6) for j in range(5,7)])

[15, 18, 20, 24, 25, 30]
[15, 18, 20, 24, 25, 30]

In [ ]:
nums=[3,6,8,12,14,15]
sq=[]
for num in nums:
  sq.append(num*num)
  print(sq)

[9]
[9, 36]
[9, 36, 64]
[9, 36, 64, 144]
[9, 36, 64, 144, 196]
[9, 36, 64, 144, 196, 225]

In [ ]:
num = {1,2,3,4,5,6,7,8}
my_dict = {}

for num in nums:
  if num%2==0:

    my_dict[num] = num**2
print(my_dict)

print({num:num**2 for num in nums if num%2==0 })

{6: 36, 8: 64, 12: 144, 14: 196}
{6: 36, 8: 64, 12: 144, 14: 196}

In [ ]:
file = open("Disha.txt", "w")
file.write("Disha Classes")
file.write("Maha Discount offer any course in 1800.")
file.close()

In [ ]:
file = open("Disha.txt", "r")
print(file.read())

Disha ClassesMaha Discount offer any course in 1800.

In [ ]:
file = open("Disha.txt", "a")
file.write("Take Add Fast")
#file.write("Maha Discount offer any course in 1800.")
file.close()

In [ ]:
with open("Disha.txt", "r") as file:
  data = file.readlines()
  for line in data:
    word = line.split()
print(word)

['Disha', 'ClassesMaha', 'Discount', 'offer', 'any', 'course', 'in', '1800.Take', 'Add', 'Fast']

In [ ]:
a=[]
n=int(input("Enter number of elements: "))
for i in range(1,n+1):
  b = int(input("Enter element: "))
  a.append(b)
even=[]
odd=[]
for j in a:
  if j%2==0:
    even.append(j)
  else:
    odd.append(j)
print("The even list: ", even)
print("The odd list: ", odd)

Enter number of elements: 3
Enter element: 2
Enter element: 4
Enter element: 5
The even list:  [2, 4]
The odd list:  [5]

In [ ]:
a=[1,2,3,4,5]
sum=0
for i in range(len(a)):
  sum=sum+a[i]
print(sum)

15

In [ ]:
a=[1,2,3,4]
b=[4,3,2,1]
c=[]
for i in range(0,len(a)):
  c.append(a[i]+b[i])
print(c)

[5, 5, 5, 5]

In [ ]:
a=[1,2,3,4]
max_element = a[0]

for i in range(len(a)):
  if a[i]> max_element:
    max_element=a[i]
print(max_element)

4

In [ ]:
a=10
try:
  print(a)

except:
  print("Something went wrong.")

finally:
  print("Try is finished.")

10
Try is finished.

In [ ]:
import calendar
print(calendar.month(2023,8))

    August 2023
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import calendar
print(calendar.month(2023,4))

     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [ ]:
'''

Python Lists are similar to arrays in C. However, the list can contain data of different
types. The items stored in the list are separated with a comma (,) and enclosed within
square brackets [].
We can use slice [:] operators to access the data of the list. The concatenation operator
(+) and repetition operator (*) works with the list in the same way as they were working
with the strings

A tuple is similar to the list in many ways. Like lists, tuples also contain the collection
of the items of different data types. The items of the tuple are separated with a comma
(,) and enclosed in parentheses ().
A tuple is a read-only data structure as we can't modify the size and value of the items
of a tuple.

Dictionary is an unordered set of a key-value pair of items. It is like an associative array
or a hash table where each key stores a specific value. Key can hold any primitive data
type, whereas value is an arbitrary Python object.
The items in the dictionary are separated with the comma (,) and enclosed in the curly
braces {}.

Python Set is the unordered collection of the data type. It is iterable, mutable(can modify
after creation), and has unique elements. In set, the order of the elements is undefined;
it may return the changed sequence of the element. The set is created by using a builtin function set(), or a sequence of elements is passed in the curly braces and separated
by the comma. It can contain various types of values. Consider the following example.

List items are ordered, changeable, and allow duplicate values.

Tuple items are ordered, unchangeable, and allow duplicate values.

Set items are unordered, unchangeable, and do not allow duplicate values.

Dictionary items are ordered, changeable, and does not allow duplicates.

Object is an instance of a class used to store a pair of variables and values.
variable is used to store a value integer,string,boolean. It is reference to an object.

Function is a block of code.
Class is an object constructor used as a blueprint of an object.

Keywords in Python are reserved words that can not be used as a variable name, function name, or any other identifier.

break: “break” is used to control the flow of the loop. The statement is used to break out of the loop and passes the control to the statement following immediately after loop.
continue: “continue” is also used to control the flow of code. The keyword skips the current iteration of the loop but does not end the loop.

if : It is a control statement for decision making. Truth expression forces control to go in “if” statement block.
else : It is a control statement for decision making. False expression forces control to go in “else” statement block.
elif : It is a control statement for decision making. It is short for “else if“

def keyword is used to declare user defined functions.

class keyword is used to declare user defined classes.
Lambda keyword is used to make inline returning functions with no statements allowed internally.



 '''

In [ ]:
#Inheritance(Single) = Advance Python
class Animal:
  def speak(self):
    print("Animal speaking")

class Dog(Animal):
  def bark(self):
    print("Dog barks")

d=Dog()
d.speak()
d.bark()

Animal speaking
Dog barks

In [ ]:
class Area:
  def Rectangle(self):
    print("Here we calculate area of Rectangle.")
    self.b=int(input( "Ënter breadth: " ))
    self.w=int(input("Ënter width: " ))


class Calculation(Area):
  def AreaofRectangle(self):
    area=self.b*self.w
    print(area)
    print("Area of Rectangle is: ", area)


d=Calculation()
d.Rectangle()
d.AreaofRectangle()

Here we calculate area of Rectangle.
Ënter breadth: 32
Ënter width: 10
320
Area of Rectangle is:  320

In [ ]:
class Area:
  def Circle(self):
    print("Here we calculate area of Circle.")
    self.r=int(input( "Ënter Radius: " ))



class Calculation(Area):
  def AreaofCircle(self):
    area=3.14*self.r*self.r
    print(area)
    print("Area of Circle is: ", area)


d=Calculation()
d.Circle()
d.AreaofCircle()

Here we calculate area of Circle.
Ënter Radius: 12
452.15999999999997
Area of Circle is:  452.15999999999997

In [ ]:
class Area:
  def Triangle(self):
    print("Here we calculate area of Circle.")
    self.h=int(input( "Ënter Height: " ))
    self.b=int(input("Enter Base: "))



class Calculation(Area):
  def AreaofTriangle(self):
    area=0.5*self.b*self.h
    print(area)
    print("Area of Triangle is: ", area)


d=Calculation()
d.Triangle()
d.AreaofTriangle()

Here we calculate area of Circle.
Ënter Height: 12
Enter Base: 23
138.0
Area of Triangle is:  138.0

In [ ]:

#multilevel
class One:
  def oo(self):
    print("Here is good version.")

class Two(One):
  def op(self):
    print("Here is good version02.")

class Three(Two):
  def ol(self):
    print("Here is good version023.")

d=Three()
d.oo()
d.op()
d.ol()

Here is good version.
Here is good version02.
Here is good version023.

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 1
upper = 10

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 10 are:
2
3
5
7

In [ ]:
a=10
b=12
del a
print(b)
print(a)

12

NameError: ignored

In [ ]:
a=0
try:
  b=1/a
except Exception as e:
  print(e)

division by zero

In [ ]:
a=5
if(a>2):
  raise Exception ("a should not exceed 2")

Exception: ignored

In [ ]:
a=0
b=5
try:
  c=b/a
  print(c)
except Exception as e:
   print(e)
finally:
  print("Finally always executed")

division by zero
Finally always executed

In [ ]:
a=0
while(a<5):
  print(a)
  a+=1

0
1
2
3
4

In [ ]:
import math
print(math.sqrt(25))

5.0

In [ ]:
from math import sqrt
print(sqrt(64))

8.0

In [ ]:
import calendar as cal
print(cal.month_name[7])

July

In [ ]:
#Multilevel Inheritance

class one:
  def o1(self):
    self.a=int(input("Enter a "))

class two:
  def o2(self):
    self.b=int(input("Enter b: "))

class three:
  def o3(self):
    self.c=int(input("Enter c: "))

class four(one,two,three):
  def o4(self):
    self.d=self.a+self.b+self.c
    print(self.d)
    print("Addition is : ", self.d)


t=four()
t.o1()
t.o2()
t.o3()
t.o4()

Enter a 12
Enter b: 2
Enter c: 65
79
Addition is :  79

In [ ]:
#Hierarchical Inheritance..

class one:
  def o1(self):
    self.a=int(input("Enter a: "))
    self.b=int(input("Enter b: "))

class two(one):
  def o2(self):
    self.c=self.a+self.b
    print("Addition is: ", self.c)

class three(one):
  def o3(self):


    self.d=self.a-self.b
    print(self.d)

t=two()
t.o1()
t.o2()

t=three()
t.o1()
t.o3()

Enter a: 23
Enter b: 12
Addition is:  35
Enter a: 34
Enter b: 21
13

In [ ]:
#Constructor has same name as class name.Default, Parameterised, Non-parameterised.
#Default
class add:
  def add(self):
    r=float(input("Enter radius: "))
    aoc=3.14*r*r
    print("Area of Circle: ", aoc)

a1=add()
a1.add()

Enter radius: 12
Area of Circle:  452.15999999999997

In [ ]:
#Parameterised
class ms:
  def ms(self,a,b):
    c=a+b
    print("add is: ", c)

a1=ms()
a=int(input("Enter 1st Number: "))
b=int(input("Enter 2nd Number: "))
a1.ms(a,b)

Enter 1st Number: 12
Enter 2nd Number: 23
add is:  35

In [ ]:
"""Each time an object is created the method, that method is called as Constructor.
when u dont write constructor in the class created then, python itself creates the constructor. is called default Constructor.
parameterised constructor:
when arguments passed along with constructor is known as Parameterised Constructor.
These arguments can be used in class to assign the values to data members.

Non parameterised Constructor:
when arguments passed doesnt accept the objects and only self is used then it is known as non parameterised constructor.  """

In [ ]:
""" Inheritance- when we define a class that inherits all the properties from other class is called Inheritance.
Multilevel Inheritance- In this inheritance we have one parent class and multiple child class.
Multiple Inheritance- When a class is derived from more than one base class, then it is called as Multiple Inheritance.
Hierarchical Inheritance- If multiple derived classes are created from saame base class, then it is known as Hierarchical Inheritance.


Recursion -Function calling itself is known as recursive function.

Constructor- Each time an object is created that method is called as Constructor. Constructor has same name as class name.
1] Default 2] Parameterised 3] Non-parameterised

default constructor- when you do not write constructor in the class created, then python itself creates constructor during the compilaqtion of program.

parameterised constructor- when constructor accepts arguments along with self then it is known as parameterised constructor.

non parameterised constructor- when constructor dont accepts any arguments from the object and has only one argument self in constructor is known as non parameterised constructor.

Constructor overloading- Constructor overloading is done by checking conditions for the arguments passed and performing required actions.
Constructor overriding- Subclass constructor is replacing the super class constructor is known as constructor overriding.

super- super function is used to give access to methods and properties of parent or sibling class.

function arguments- calling a function with specific values is called as function arguments.
*args- non keyword arguments used to pass variable length arguments
**kwargs- keyword arguments. used to pass variable keyword arguments. """

In [ ]:
#Non-parameterised Constructor..
class one:
  def __init__(self):
    print("Disha class")

  def two(self, name):
    print("Hello", name)

d1=one()
d1.two("Jitesh")

Disha class
Hello Jitesh

In [ ]:
#Constructor overloading..
class ms:
  def __init__(self,*argv):
    for i in argv:
      print(i)

s1=ms(1,2,3,4,5,6)

class vk:
  def __init__(self, *argv):
    for i in argv:
      if i%2==0:
        print(i, "is Even Number.")

      else:
        print(i, "is Odd Number.")

A1=vk(2,5,6,7,9,13)

1
2
3
4
5
6
2 is Even Number.
5 is Odd Number.
6 is Even Number.
7 is Odd Number.
9 is Odd Number.
13 is Odd Number.

In [ ]:
#Constructor overloading..

class test:
  def __init__(self, k):
    self.x1=k
  def f(self):
    print("This is method.")
    print(self.x1)

  def f(self,a):
    print(self.x1+a)

ob1=test(1)
ob1.f(5)

6

In [ ]:
#Constructor overriding-
class father:
  def __init__(self):
    self.property=80000
  def display_property(self):
    print("Fathers property is: ", self.property)

class son(father):
  def __init__(self):
    self.property=20000
  def display_property(self):
    print("Sons property is: ", self.property)

j=son()
j.display_property()

Sons property is:  20000

In [ ]:
#Super() with single inheritance

class Mammal(object):
  def __init__(self, mammalName):
    print(mammalName, 'is a warm-blooded animal.')

class Dog(Mammal):
  def __init__(self):
    print('Dog has four legs.')
    super().__init__('Dog')

d1 = Dog()

Dog has four legs.
Dog is a warm-blooded animal.

In [ ]:
#Super() with multiple inheritance.

class Animal:
  def __init__(self, Animal):
    print(Animal, 'is an animal.');

class Mammal(Animal):
  def __init__(self, mammalName):
    print(mammalName, 'is a warm-blooded animal.')
    super().__init__(mammalName)

class NonWingedMammal(Mammal):
  def __init__(self, NonWingedMammal):
    print(NonWingedMammal, "can't fly.")
    super().__init__(NonWingedMammal)

class NonMarineMammal(Mammal):
  def __init__(self, NonMarineMammal):
    print(NonMarineMammal, "can't swim.")
    super().__init__(NonMarineMammal)

class Dog(NonMarineMammal, NonWingedMammal):
  def __init__(self):
    print('Dog has 4 legs.');
    super().__init__('Dog')

d = Dog()
print('')
bat = NonMarineMammal('Bat')

Dog has 4 legs.
Dog can't swim.
Dog can't fly.
Dog is a warm-blooded animal.
Dog is an animal.

Bat can't swim.
Bat is a warm-blooded animal.
Bat is an animal.

In [ ]:
#*args

def adder(*num):
  sum=0
  for n in num:
    sum=sum+n

  print("Sum is: ", sum)


adder(3,5)
adder(4,5,6,7)
adder(1,2,3,5,6,7)

Sum is:  8
Sum is:  22
Sum is:  24

In [ ]:
#**kwargs

def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210